<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<title>fakeGZS 信息检索</title>
	<link rel="stylesheet" href="static/index_files/fonts" type="text/css" media="all">
	<link rel="stylesheet" href="static/index_files/fonts(1)" type="text/css" media="all">
	<!-- start css -->
	<link rel="stylesheet" href="static/index_files/base_new.css" type="text/css">
	<link rel="stylesheet" href="static/index_files/support.css" type="text/css">
	<link rel="stylesheet" href="static/index_files/ac-globalfooter.built.css" type="text/css" media="all">
	<link rel="stylesheet" href="static/index_files/search_new.css" type="text/css">
	<link rel="stylesheet" href="static/index_files/footer.css" type="text/css">
</head>

<body class="ac-gn-current-support">
	<div class="Section Section--main">
		<div class="Section-content">
			<div id="main" role="main">
				<div>
					<!-- Start : Input Search Bar -->
					<div class="SearchBar">
						<form action="search" method="get" id="searchForm" class="Search-form">
							<input aria-activedescendant="noSuggestions" aria-autocomplete="list" autocomplete="off" aria-expanded="false" aria-owns="search-suggestions" class="SearchForm-input" id="searchInput" placeholder="fakeGZS 为您提供搜索服务" name="text" spellcheck="false" type="text" value="" role="combobox">
							<button class="SearchForm-submit" type="submit">
							</button>
						</form>
					</div>
					<!--  End : Input Search Bar -->
					<div class="SearchResults">
						<div aria-live="polite" role="status" id="updateResultsText">
						</div>
					</div>
				</div>
			</div>
			<!--/main-->
		</div>
	</div>

</body>
</html>
